<div class="bde__ui__vertical-aside">
  <div class="bde__ui__vertical-aside__left">

    <p class="bde-page-subtitle text-blue text-uppercase">{{t
        this.container.asideSubtitle
      }}</p>
    <h1 class="">{{t this.container.asideTitle}}</h1>
  </div>
</div>
<div class="bde__ui__vertical-aside__counter">
  <div class="bde__ui__vertical-aside__right">

    <ul>

      {{#each this.container.asideSections as |section index|}}
        <li
          class="{{if (eq this.container.asideSection index) 'active' ''}}
            {{if this.container.sliding '' 'pointer'}}"
          {{action this.onClick index}}
        >
          <div>
            <span></span>
          </div>
          {{double-place-number index}}
        </li>
      {{/each}}

    </ul>
  </div>
</div>