<div class="bde__ui-splash {{this.className}}">
  <section>
    <div class="bde__ui-splash__text">
      <p class="bde-page-subtitle text-blue text-italic">"{{t
        "splash_headline"
        }}"</p>
      <h1 class="page-title bde-page-title">
        Bluedarwin
        <span class="text-stroke">Experience</span>
      </h1>
      <p class="bde-page-powered">

        <small class="">{{t "powered_by"}}</small>
      </p>
    </div>
    <div class="bde__ui-splash__loader">

      <Ui::Button::Loader @onExit={{this.onExit}} />
    </div>
  </section>

  <div class="preloader_text_reel">
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en" >{{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}
          {{this.text}}</span><span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" >
        <span class="main_i_en" >{{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}
          {{this.text}}</span><span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" ><span class="main_i_en" >{{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}
          {{this.text}}</span><span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en" >{{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}
          {{this.text}}</span><span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" 
       >
        <span class="main_i_en" >{{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}
          {{this.text}}</span><span class="main_i_en infiniteslide_clone" >{{this.text}}
          {{this.text}} {{this.text}} {{this.text}} {{this.text}} {{this.text}}</span></div>
    </div>
  </div>
</div>