<div class="bde__ui-splash {{this.className}}">
  <section>
    <div class="bde__ui-splash__text">
      <p class="bde-page-subtitle text-blue text-italic">"{{t
        "splash_headline"
        }}"</p>
      <h1 class="page-title bde-page-title">
        Bluedarwin
        <span class="text-stroke">Experience</span>
      </h1>
      <p class="bde-page-powered">

        <small class="">{{t "powered_by"}}</small>
      </p>
    </div>
    <div class="bde__ui-splash__loader">

      <Ui::Button::Loader @onExit={{this.onExit}} @onReady={{this.onReady}} />
    </div>
  </section>
  <div class="bde__ui-splash__text-container {{this.textClassName}}">

    <Ui::Container::Text @text={{this.text}} @reversed={{this.loaded}}></Ui::Container::Text>
  </div>
</div>