<div class="bde__ui-button-loader" {{did-insert this.didInsert}}>
  <div
    class="bde__ui-button-loader__circle-wrapper
      {{if this.loaded 'loaded' ''}}
      {{this.className}}"
    {{action this.onExit}}
  >

    <div class="bde__ui-button-loader__circle-container">
      <div class="bde__ui-button-loader__circle"></div>
    </div>
    <div class="bde__ui-button-loader__circle-container">
      <div class="bde__ui-button-loader__circle"></div>
    </div>
    <div class="bde__ui-button-loader__circle-container">
      <div class="bde__ui-button-loader__circle"></div>
    </div>
    <div class="bde__ui-button-loader__circle-container">
      <div class="bde__ui-button-loader__circle">
        <h1>
          {{#if this.loaded}}
            GO
          {{else}}
            {{this.progress}}%
          {{/if}}
        </h1>
      </div>
    </div>
  </div>
  <div class="bde__ui-button-loader__title">
    {{#if this.loaded}}
      <div class="bde__ui-button-loader__title__dots">&nbsp;</div>
    {{else}}
      Loading<div class="bde__ui-button-loader__title__dots">{{this.dots}}</div>
    {{/if}}
  </div>
</div>