{{page-title "Carlos Galveias"}}
{{!--
<Ui::Container::Text @text="Carlos Galveias" @reversed={{true}}></Ui::Container::Text>
--}}

<div class="bde__team-section__container" {{did-insert this.didInsert}}>

  <section
    class="bde__team-section
      {{if (gte this.section 1) 'scrolled' ''}}
      {{if (eq this.section 0) 'active' ''}}
      "
  >
    <div class="bde__team-section__container">
      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back"
        src="https://sergeydesigner.pro/webgl_points_waves.html"
      ></iframe>
      {{! <div class="bde__team-section__background-image"></div> }}
      <div class="bde__team-section__background-overlay"></div>
      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div class="bde__team-section__content__left">

            <p
              class="bde-page-subtitle bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >Team Leader </p>
            <h1
              class="bde-page-title bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >
              Carlos
              <br /><span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum"></small>
          </div>
          <div class="bde__team-section__content__right">
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section
    class="bde__team-section
      {{if (gte this.section 2) 'scrolled' ''}}
      {{if (eq this.sectionActive 1) 'active' ''}}"
  >
    <div class="bde__team-section__container">
      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back"
        src="https://sergeydesigner.pro/webgl_marchingcubes.html"
      ></iframe>
      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div>

            <p
              class="bde-page-subtitle bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >Team Leader </p>
            <h1
              class="bde-page-title bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >
              Carlos
              <span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum bde__team-text-animate"></small>
            <small class="lorem-ipsum bde__team-text-animate"></small>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="bde__team-section
      {{if (gte this.section 3) 'scrolled' ''}}
      {{if (eq this.sectionActive 2) 'active' ''}}"
  >
    <div class="bde__team-section__container">
      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back"
        src="https://sergeydesigner.pro/webgl_points_waves.html"
      ></iframe>
      <div class="bde__team-section__background-overlay"></div>
      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div class="bde__team-section__content__left">

            <p
              class="bde-page-subtitle bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >Team Leader </p>
            <h1
              class="bde-page-title bde__ui__animation__blur bde__ui__page-content fade-in-down"
            >
              Carlos
              <br /><span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum"></small>
          </div>
          <div class="bde__team-section__content__right">
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>