{{page-title "Carlos Galveias"}}
{{!--
<Ui::Container::Text @text="Carlos Galveias" @reversed={{true}}></Ui::Container::Text>
--}}

<div class="bde__team-section__container" {{did-insert this.didInsert}}>

  <section
    class="bde__team-section
      {{if (gte this.section 1) 'scrolled' ''}}
      {{if (eq this.section 0) 'active' ''}}
      "
  >
    <div class="bde__team-section__container">

      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back
          {{if
            (or (eq this.sectionActive 0) (eq this.nextSection 0))
            ''
            'top--100'
          }}"
        src="https://hesitant-sheep.surge.sh"
      ></iframe>

      {{! <div class="bde__team-section__background-image"></div> }}
      {{! <div class="bde__team-section__background-overlay"></div> }}
      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div class="bde__team-section__content__left">

            <p
              class="bde-page-subtitle"
              data-cursor-img="/images/team.carlos-galveias.png"
            >Team Leader </p>
            <h1
              class="bde-page-title"
              data-cursor-img="/images/team.carlos-galveias.png"
            >
              Carlos
              <br /><span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum"></small>
          </div>
          <div class="bde__team-section__content__right">
            <p
              class="lorem-ipsum bde__team-text-animate"
              data-cursor-img="/images/team.carlos-galveias.png"
            ></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section
    class="bde__team-section
      {{if (gte this.section 2) 'scrolled' ''}}
      {{if (eq this.sectionActive 1) 'active' ''}}"
  >
    <div class="bde__team-section__container">

      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back
          {{if
            (or (eq this.sectionActive 1) (eq this.nextSection 1))
            ''
            'top--100'
          }}"
        src="https://cognus-dialog.surge.sh"
      ></iframe>

      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div>

            <p
              class="bde-page-subtitle"
              data-cursor-img="/images/team.carlos-galveias.png"
            >Team Leader </p>
            <h1
              class="bde-page-title"
              data-cursor-img="/images/team.carlos-galveias.png"
            >
              Carlos
              <span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum bde__team-text-animate"></small>
            <small class="lorem-ipsum bde__team-text-animate"></small>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="bde__team-section
      {{if (gte this.section 3) 'scrolled' ''}}
      {{if (eq this.sectionActive 2) 'active' ''}}"
  >
    <div class="bde__team-section__container">

      <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back
          {{if
            (or (eq this.sectionActive 2) (eq this.nextSection 2))
            ''
            'top--100'
          }}"
        src="https://endurable-holiday.surge.sh"
      ></iframe>

      {{! <iframe
        style="width: 100%; height: 100%; position: absolute; z-index: 1; border: 0;"
        class="fluids_back"
        src="https://endurable-holiday.surge.sh"
      ></iframe> }}
      {{! <div class="bde__team-section__background-overlay"></div> }}
      <div class="bde__team-section__content">
        <div class="bde__team-section__content__wrapper">
          <div class="bde__team-section__content__left">

            <p
              class="bde-page-subtitle"
              data-cursor-img="/images/team.carlos-galveias.png"
            >Team Leader </p>
            <h1
              class="bde-page-title"
              data-cursor-img="/images/team.carlos-galveias.png"
            >
              Carlos
              <br /><span class="text-stroke">Galveias</span>
            </h1>
            <small class="lorem-ipsum"></small>
          </div>
          <div class="bde__team-section__content__right">
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
            <p class="lorem-ipsum bde__team-text-animate"></p>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>