<div class="bde__ui__container__page">

  <section
    class="bde__ui__container__page__left
      {{if this.transition.transition 'bde__ui__animation__blur' ''}}"
  >
    <p
      class="bde-page-subtitle bde__ui__animation__blur bde__ui__page-content"
    >{{t this.container.pageSubtitle}} </p>
    <h1 class="bde-page-title bde__ui__animation__blur bde__ui__page-content">
      {{this.container.pageTitle}}
      <br /><span class="text-stroke">{{this.container.pageStroke}}</span>
    </h1>
    {{!-- data-cursor-text="{{ this.container.pageTitle}} {{ this.container.pageStroke}}" data-cursor-stick --}}
    <div class="bde-page-content-container"  >

      {{#each this.container.pageContent as |content|}}

        <p
          class="bde-page-content bde__ui__animation__blur bde__ui__page-content"
        >
          <b>{{content}}: </b>{{t content}}
        </p>

      {{/each}}

    </div>

  </section>
  <section class="bde__ui__container__page__right">

  </section>
</div>