<div class="bde__ui-button-squared" ...attributes {{action this.onClick}}>
  <span class="bde__ui-button-squared__mask">
    <div class="bde__ui-button-squared__inner">
      {{t @title}}
    </div>
  </span>
  <button type="button" name="Hover"><div
      class="bde__ui-button-squared__inner"
    >{{t @title}}
    </div>
    {{yield}}
  </button>

</div>
<div
  class="bde__ui-button-squared__inner__contacts-container
    {{if this.isContactsOpen 'max-height-100' 'max-height-0'}}"
>
  <span>
    {{t "contact_info"}}
  </span>
</div>