<div
  class="bde__text-slider__container {{if this.reversed 'reverse-incline' ''}}"
>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__left"
    >
      <span class="bde__infinite-text-slider__main">{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span><span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__right"
    >
      <span class="bde__infinite-text-slider__main">{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span><span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__left"
    >
      <span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__right"
    ><span class="bde__infinite-text-slider__main">{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span><span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__left"
    >
      <span class="bde__infinite-text-slider__main">{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span><span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
  <div class="bde__infinite-text-slider__wrapper">
    <div
      class="bde__infinite-text-slider__reel bde__infinite-text-slider__reel__right"
    >
      <span class="bde__infinite-text-slider__main">{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span><span
        class="bde__infinite-text-slider__main bde__infinite-text-slider__clone"
      >{{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}
        {{@text}}</span></div>
  </div>
</div>