<div class="preloader_text_reel {{if this.reversed 'reverse-incline' ''}}">
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en" >{{@text}} {{@text}} {{@text}} {{@text}} {{@text}}
          {{@text}}</span><span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" >
        <span class="main_i_en" >{{@text}} {{@text}} {{@text}} {{@text}} {{@text}}
          {{@text}}</span><span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" ><span class="main_i_en" >{{@text}} {{@text}} {{@text}} {{@text}} {{@text}}
          {{@text}}</span><span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel left_reel" >
        <span class="main_i_en" >{{@text}} {{@text}} {{@text}} {{@text}} {{@text}}
          {{@text}}</span><span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
    <div class="infiniteslide_wrap" >
      <div class="text_reel right_reel" 
       >
        <span class="main_i_en" >{{@text}} {{@text}} {{@text}} {{@text}} {{@text}}
          {{@text}}</span><span class="main_i_en infiniteslide_clone" >{{@text}}
          {{@text}} {{@text}} {{@text}} {{@text}} {{@text}}</span></div>
    </div>
  </div>